_TKINTER_install.zip
_HLAM/*
DISTR/*
DB/*
*/__pycache__
plugin/personalsetting.py
mbplugin*.zip
python-3.8.3-embed-win32_TKINTER.zip
dllplugin
httpserver
store
log
python
tcc
readme2.md
mbplugin.ini