*.pyc
.cache
.coverage
htmlcov/*
.pytest_cache
.mypy_cache/
__pycache__
*.egg-info
build/
dist/

.idea
*.iml
venv/*
.vscode

_tkinter_install.zip
distr/*
dist/*
db/*
pack/*
webdriver/*
*/__pycache__
.vscode/*
.idea/*
venv/*
tests/data/mbplugin/*
BalanceHistory.sqlite
balance.html
plugin/debug.log
mbplugin*.zip
python-*.zip
dllplugin
jsmblhplugin
httpserver
store
log
python
tcc
readme2.md
mbplugin.ini
run_webserver.lnk
*.bak