appdirs==1.4.4
APScheduler==3.6.3
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.1
beautifulsoup4==4.9.3
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
decorator==4.4.2
greenlet==1.0.0
idna==2.9
iniconfig==1.1.1
packaging==20.9
Pillow==8.2.0
playwright==1.14.0
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pycodestyle==2.5.0
pycparser==2.20
pyee==8.1.0
pyodbc==4.0.30
pyparsing==2.4.7
pyppeteer==0.2.5
pyreadline==2.1
pytest==6.2.4
python-telegram-bot==13.5
pytz==2021.1
requests==2.25.1
schedule==1.1.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
tornado==6.0.4
tqdm==4.47.0
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.25.9
websockets==8.1
