beautifulsoup4==4.9.3
click==8.0.1
colorama==0.4.4
Pillow==9.3.0
#playwright==1.14.1 installed separately
playwright-stealth==1.0.5
psutil==5.8.0
pyreadline==2.1
pyTelegramBotAPI==4.10.0
python-telegram-bot==13.7
requests==2.26.0
schedule==1.1.0
urllib3==1.26.6
