beautifulsoup4==4.12.3
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
markdown-it-py==3.0.0
pillow==10.3.0
playwright==1.46.0
playwright-stealth==1.0.6
psutil==5.9.8
pyodbc==5.0.1
pystray==0.19.5
pyTelegramBotAPI==4.15.2
pywin32==306
requests==2.32.4
rich==13.7.0
schedule==1.2.1
urllib3==1.26.19
websocket-client==1.7.0
websockets==12.0
