# -*- coding: utf8 -*-

# Стоки
stocks= {
'BROKER_RU': {'STOCKS':(('AAPL',1,'Y'),('TATNP',16,'M'),('FXIT',1,'M')), 'REMAIN': {'USD':5, 'RUB':536}, 'CURRENC': 'USD'}
}

SQLITESTORE = False  # Сохранять параллельно балансы в БД SQLITE ?